@import "./base/reset";
@import "./base/typography";
@import "./utils/mixins";
@import "./utils/vars";
@import "./components/buttons";
@import "./components/inputs";
@import "./layout/header";
@import "./layout/app";
@import "./layout/footer";

html {
  font-size: 10px;
}

body {
  font: 400 1.6rem $mainFont;
  color: $darkColor;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.wrapper {
  max-width: $desktopWidth;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}